@import '../../variables.module';

.mainDiv {
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 20px;
    @media (max-width: 565px) {
        flex-direction: column;
    }
    .welcomeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start; 
        @media (max-width: 565px) {
            align-items: center;
        }
        a {
            margin-top: 20px;
            width: 120px;
            text-decoration: none;
            color: $baby-powder;
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                padding: 15px 20px 15px 20px;
                background-color: $amaranth-purple;
                border-radius: 15px;
            }
        }
    }

    .welcomeImage {
        box-shadow: inset 0px 0px 50px -3px $amaranth-purple;
        border: 2px solid $amaranth-purple;
        background-image: url("../../images/MyImage.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        height: 300px;
        width: 300px;
        @media (max-width: 565px) {
            height: 300px;
            width: 300px;
        }
    }
}