@import '../../variables.module';
.mainDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .filterBar {
            display: flex;
            gap: 5px;
            width: 100%;
            .filterButton {
                box-shadow: inset 0px -32px 25px -13px rgba(126, 25, 70, 0.705);
                cursor: pointer;
                width: 80px;
                padding: 5px 20px 5px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }
        }
        .guideText {
            color: $murrey;
            font-size: 15px;
            text-align: right;
        }
        .projectList {
            display: grid;
            gap: 25px;
            list-style: none;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            .projectCard {
                background-color: rgb(32, 32, 32);
                // box-shadow: inset 0px -32px 25px -13px rgba(0,0,0,0.1);
                background-position: center;
                background-size: cover;
                border-radius: 15px;
                height: 100%;
                min-height: 200px;
                overflow: hidden;
                .projectInfo {
                    gap: 10px;
                    background-color: rgba(22, 22, 22, 0.781);
                    box-shadow: inset 0px -32px 25px -13px $murrey;
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    height: 100%;
                    h3 {
                        font-size: 20px;
                        font-weight: 800;
                    }
                    p {
                        font-size: 13px;
                    }
                    .projectSeeLanguage {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        gap: 20px;
                        a {
                            text-decoration: none;
                            border: 1px solid white;
                            padding: 5px 10px 5px 10px;
                            border-radius: 15px;
                            font-size: 13px;
                        }
                        .projectLanguageBox {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            font-size: 12px;
    
                            .projectLanguageIcon {
                                background-position: center;
                                background-size: cover;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        
        }
    }

}
