.footerContainer {
    // border-top: 1px solid white;
    background-color: var(--gray);
    width: calc(100%);

    .footerWrapper {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;

        .footerList {
            display: flex;
            justify-content: center;
            gap: 10px;
            list-style: none;
            li {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .socialIcon {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }
}