@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@font-face {
    font-family: Purista;
    font-weight: 400;
    src: url(fonts/Purista/Purista-Medium.ttf);
}
@import 'variables.module';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // border: 1px solid white;
}

::-webkit-scrollbar {
    position: static;
    width: 6px;
    background-color: $black;
}
::-webkit-scrollbar-thumb {
    background-color: #242424;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: $black;
    color: $baby-powder;
}

    
